@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* Shared Styles  */

.display-flex {
    display: flex;
}

.btn-primary {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    background-color: rgb(255, 144, 14);
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}


/* Text Primary  */

.text-primary {
    color: rgb(255, 144, 14);
}


/* Dark 02 */

.text-gray {
    color: rgb(66, 66, 66);
}


/* Dark 03 */

.text-light-gray {
    color: rgb(114, 114, 114);
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.section-title {
    font-size: 3.8rem;
    font-weight: 700;
}


/* Header Styles  */


/* Navbar related Styles  */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 2.8rem;
    font-weight: 700;
    margin-left: 10px;
}

.nav-links {}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}


/* Banner Related Styles  */

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-image {
    width: 100%;
}


/* Team and feature related styles */

.teams {
    align-items: center;
    margin: 10px 150px;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 100px;
    max-width: 530px;
}

.feature-title {
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 10px;
}

#quick-list {
    font-weight: 500;
}


/* Some Facts Related Styles  */

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    width: 240px;
    height: 240px;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-number {
    color: rgb(66, 66, 66);
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name {
    color: rgb(114, 114, 114);
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description {
    max-width: 540px;
}


/* Sponsors  */

.sponsors-details {
    text-align: center;
    margin-bottom: 10px;
}

.sponsor-image-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    background-color: white;
    margin-bottom: 20px;
}

.sponsor-image {
    width: 160px;
    height: 50px;
}


/* Responsive Media Query For Small Device */

@media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
    }
    .team-image-container,
    .facts-container,
    .sponsor-image-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .our-features {
        margin-left: 20px;
    }
    .some-facts,
    .sponsors-details {
        text-align: center;
        margin: 0 auto;
    }
    .fact-card,
    .sponsor-image {
        margin: 0 auto;
    }
}


/* Responsive Media Query For Medium Device */

@media screen and (min-width:576px) and (max-width:972px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links,
    .teams {
        flex-direction: column;
    }
    .team-image-container,
    .facts-container,
    .sponsor-image-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .our-features {
        margin: 50px auto;
    }
    .fact-description {
        max-width: 1140px;
    }
    .some-facts,
    .sponsors-details {
        text-align: center;
        margin: 0 auto;
    }
    .fact-card,
    .sponsor-image {
        margin: 0 auto;
    }
}